body {
    background-image: url(../images/wasteland.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    background-attachment: fixed;
}

header {
    color: brown;
    font-size: 200px;
    text-align: center;
    font-family: Bebas Neue;
}

h2 {
    text-align: center
}

#recipie-navigation {
    text-align: center;
}

.button {
    border: 0px -30px;
    padding: 10px 20px;
    font-size: 60px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    display: block;
}

.nuka-cola-button {
    background-color: aqua;
    margin-bottom: 10px;
}

.radroach-stew-button {
    background-color: olive;
    margin-bottom: 10px;
}

.iguana-button {
    background-color: red;
}
