h1 {
    color: brown;
    font-weight: bolder;
    text-align: center;
}

h2 {
    text-align: center
}

.nuka-cola {
    color: aqua;
}

.radroach-stew {
    color:rgb(84, 248, 8)
}

.iguana-skewer {
    color:rgb(135, 68, 6)
}