body {
    background-image: url(../images/wasteland.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    background-attachment: fixed;
}

header {
    color: brown;
    font-size: 200px;
    text-align: center;
    font-family: Bebas Neue;
}

h2 {
    text-align: center
}

.button {
    padding: 10px 20px;
    font-size: 60px;
    font-weight: bold;
    text-decoration: none;
    color: blue;
    background-color: orange;
    border-radius: 5px; /* Optional: Rounded corners */
    display: inline-block;
}

.nuka-cola-button {
    background-color: aqua;
}

.radroach-stew-button {
    background-color: olive;
}

.iguana-button {
    background-color: red;
}
