body {
 background-image: url(../images/wastelandblack.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center center;
 height: 100vh;
 background-attachment: fixed;
}

header, h1, h3, h4 {
    text-align: center;
    color: brown;
}

#ingredients {
    text-align: center;
    color: peru;
    font-size: large;
    font-weight: bolder;
}

#instructions {
    text-align: center;
    color: peru;
    font-size: large;
    font-weight: bolder;
}
