body {
    background-image: url(../images/diner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    background-attachment: fixed;
}

h1, h2, h4 {
    font-family: pacifico, sans-serif;
    font-size: 60px;
    color: aqua;
}

h3, ol, ul {
    font-family: lobster, sans-serif;
    font-size: 50px;
    color: red;
}